html{
  width:max-content;
  margin-left:100px;
}

.container {
  text-align: center;
  
}

.intro {
  text-align: center;
  background-color: black;
  color: white;

}

.about {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.services {
  background-image: url("img/s.jpg");
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  color: white;
}

.whatwedo {
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}

.design{
  display: none;
}

.development{
  display: none;
}

.product{
  display: none;
}

.portfolio {
  display: grid;
  text-align: center;
  

} 

.pic {
  opacity: 0.3;}

.pic:hover .text4 {
  opacity: 1;
}

.pic {
       width: 100%;
       padding-right: 2px; 
       

}

.contact{
  background-image: url("../img/c.jpg");
  background-size: cover;
  text-align: center;
  height: 400px;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
  

}

.col-md-12{
  margin-left: 200px;
  
}


.last{
  display: inline;
  text-align: center;
  margin-left: 320px;
}