.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.intro {
  text-align: center;
  background-image: ;
  background-color: black;
  color: white;
}

.about {
  text-align: center;
  w
  ";,45uidth: 1050px;
  margin-left: auto;
  margin-right: auto;
}

.services {
  background-image: url("img/s.jpg");
  text-align: center;
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  color: white;
}

.whatwedo {
  text-align: center;
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}


.portfolio {
  text-align: center;
  padding-right: 180px;
  max-width: 750px;
  
}

.portfolio h4 {
  padding-left: 2000px;
}

.row{
  scroll-padding-right:50px;
}
